<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h2>{{message}}</h2>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name[0] }}!</h1>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<h3>Search for photos</h3>
<form action="search" method="post">
  <input type="text" name="query" style="width: 500px"><br>
  <input type="submit" value="Submit"><br>
</form>

{% if home %}
<h3>Search for other users:</h3>
<form action="friends" method="post">
  <label for="name">Name: </label>
    <input type="name" name="name" style="width: 450px"><br>
    <input type="submit" value="Submit"><br>
</form>
{% endif %}

{% if users %}
<h3>Top Contributors to Photoshare!</h3>
  <ol>
  {% for user in users %}
  <li>{{user[0]}}
  </li>
  {% endfor %}
  </ol>
{% endif %}



{% if other %}
<p><a href='/all/{{other}}'>To view all photos tagged with {{other}}</a></p>
{% endif %}

{% if photos %}
    <ul>
    {% for photo in photos %}
        <li><a href='/photo/{{photo[2]}}'><img src='data:image/png;base64, {{photo[0]}}'/></a><br>
        <i>{{photo[1]}}</i></li><br>
    {% endfor %}
    </ul>
{% endif %}

{% if recs %}
You may also like:
  {% for rec in recs %}
  <li>
  </li><a href='/photo/{{rec[2]}}'><img src='data:image/png;base64, {{rec[0]}}'/></a>
  {% endfor %}
{% endif %}




{% if popular %}
  <h3>Popular Tags</h3>
  {% for tag in popular %}
  <li><a href='/all/{{tag[0]}}'>{{tag[0]}}</li>
  {% endfor %}
{% endif%}



<ul>
<li><a href='/upload'>Upload a photo</a> </li> 
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>

